/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* @font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
} */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/*//////////////////////////////////////////////////////////////////
[ General ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

/*//////////////////////////////////////////////////////////////////
[ Home.vue ]*/

/*//////////////////////////////////////////////////////////////////
[ Account ]*/

.accountBtn {
  width: 125px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px 10px;
  background: black;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*hide the inputs/checkmarks and submenu*/
input,
ul.dropdown-content {
  display: none;
}

/*show the submenu when input is checked*/
input:checked ~ ul.dropdown-content {
  display: block;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* width: 250px; */
  color: black;
  padding: 13px 22px;
  text-decoration: none;
  background: white;
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

table {
  margin-top: 50px;
  font-family: 'Source Sans Pro';
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 1px solid #f2f2f2; */
  text-align: left;
  padding: 18px 8px;
}

#th {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tdSubmit {
  background: white;
}

.btnCell {
  width: 10px;
}

.btnHome {
  width: 60% !important;
  height: 50px !important;
}

.deleteBtn {
  background-color: #ff453a;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.replaceBtn {
  background-color: #5e5ce6;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  background: #64d3ff !important;
}

.inputHome {
  height: 40px !important;
  font-size: 16px !important;
}

/*//////////////////////////////////////////////////////////////////
[ SignUp.vue, Login.vue ]*/

template {
  height: 100%;
  font-family: 'Source Sans Pro';
  /* font-family: Poppins-Regular, sans-serif; */
}

a {
  /* font-family: Poppins-Regular; */
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: black;
  border-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  /* font-family: Poppins-Regular; */
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

input {
  font-family: 'Source Sans Pro';
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

/* textarea:focus,
input:focus {
  border-color: transparent !important;
} */

label {
  display: block;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  /* font-family: Montserrat-SemiBold; */
  font-size: 16px;
  color: black;
  line-height: 1.5;
}

.txt2 {
  /* font-family: Poppins-Regular; */
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap-login100 {
  width: 680px;
  background: white;
  border-radius: 10px;
  position: relative;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  /* font-family: Montserrat-Medium; */
  /* font-size: 35px; */
  color: black;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.input100 {
  /* font-family: Poppins-Regular; */
  color: black;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
  position: relative;
  background-color: #f7f7f7;
  border: 1.5px solid #e6e6e6;
  border-radius: 10px;
}

.input100[value=''],
.input100:placeholder-shown {
  border: 1.5px solid#e6e6e6;
}

.notValid {
  border: 1.5px solid#ff453a;
}

.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  line-height: 1.2;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn:disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: default;
}

.p-r-110 {
  padding-right: 110px;
}

.p-l-110 {
  padding-left: 110px;
}

.p-b-33 {
  padding-bottom: 33px;
}

.p-t-62 {
  padding-top: 30px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

/* .p-b-53 {
  padding-bottom: 53px;
} */

.p-b-9 {
  padding-bottom: 9px;
}

.p-t-31 {
  padding-top: 31px;
}

.p-t-13 {
  padding-top: 13px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-17 {
  margin-top: 17px;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.p-t-55 {
  padding-top: 50px;
}

/*//////////////////////////////////////////////////////////////////
[ Settings ]*/

.btnSettings {
  width: 40% !important;
  height: 50px !important;
  color: white;
  background: #ff453a;
}

.btnSettings:hover {
  filter: brightness(0.85);
}

.btnSettings2 {
  margin-bottom: 50px;
}

.titleSettings {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

/* Buttons */

.btn-primary {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.btn-secondary {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
  outline: none;
}

.btn-danger {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.form-group .control-label label {
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 10px;
}

.form-control {
  border-radius: 22px;
  border: 1px solid transparent;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
}

.form-control:focus {
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.text-helper {
  margin-top: 0.2em;
  font-size: 0.8em;
  display: block;
}

.form-group p {
  margin: 0;
}

/** PROFILE **/

.profile-holder label,
.profile-people-holder .profile-name h3,
.notification-legend p,
.settings-legend p {
  color: black;
  font-weight: 600;
}

.profile-update .control-label {
  margin-bottom: 1em;
}

.profile-update .profile-email p,
.profile-update .profile-email .btn {
  display: inline-block;
  margin: 0;
}

.profile-update .profile-email .btn {
  margin-left: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: #888888;
  border: 1px solid #888888;
  padding: 5px 10px;
  width: auto;
}

.profile-update .profile-email .btn:active:focus,
.profile-update .profile-email .btn:active:hover {
  background-color: #888888;
  color: #ffffff;
  border: 1px solid transparent;
}

.profile-people-holder {
  padding: 1.5em 0;
  border-bottom: 3px solid black;
  margin-bottom: 1.5em;
}

.lineSettings {
  padding: 1em 0;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.profile-people-holder .profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 75px;
  color: #fff;
  margin: 0 auto;
}

.profile-people-holder .profile-picture span {
  font-size: 24px;
}

.notification-settings {
  margin-bottom: 1.5em;
}

.notification-legend {
  position: relative;
  padding: 0 76px 0 0;
}

.notification-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -14px;
}

.judgments-settings {
  pointer-events: all;
  border-top: 1px solid #e4e9eb;
  margin-bottom: 1.5em;
  overflow: hidden;
  height: 0px;
}

.judgments-settings.disabled {
  pointer-events: none;
  color: #d2d2d2;
}

.judgments-settings.disabled .settings-legend p {
  color: #d2d2d2;
}

.judgments-settings .settings-legend {
  position: relative;
  padding: 12px 74px 12px 0;
  line-height: 34px;
}

.notification-settings .notification-legend p,
.judgments-settings .settings-legend p {
  margin: 0;
}

.form-btns {
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-btns .btn {
  border-radius: 25px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.form-btns .btn:active {
   background-color: black;
  color: #ffffff;
  border: 2px solid transparent;
}

.form-btns .btn:active:focus,
.form-btns .btn:active:hover {
  background-color: black;
  color: #ffffff;
  border: 2px solid transparent;
}

/** END PROFILE **/

/** LIST OF JUDGMENTS **/

.list ul {
  padding: 0;
  margin: 0;
}

.list ul > li {
  list-style: none;
  border-bottom: 1px solid #e4e9eb;
  padding: 10px 70px 10px 0px;
  position: relative;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.list ul > li .list-title {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  color: black;
}

.judgments-settings.disabled .list ul > li .list-title {
  color: #d2d2d2;
}

.list ul > li p {
  margin: 0;
}

.list ul > li .list-title + p {
  margin-top: 0.2em;
  font-size: 12px;
}

/** END OF LIST OF JUDGMENTS **/

/** TOGGLE BUTTON **/

.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.judgments-settings.disabled .tgl-ios + .tgl-btn {
  opacity: 0.4;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}

.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}

.tgl-ios:checked + .tgl-btn {
  background: black;
}

.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

/** END OF TOGGLE BUTTON **/

@media screen and (min-width: 640px) {
  .container-fluid {
    padding: 0 12.5%;
  }
  .btn-primary {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
  .btn-secondary {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
  .btn-danger {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
  .modal-content {
    top: 15px;
    bottom: 30%;
    left: 25%;
    right: 25%;
  }
}

.form-control::-webkit-input-placeholder {
  opacity: 0.85;
}

.form-control:-moz-placeholder {
  opacity: 0.85;
}

.form-control::-moz-placeholder {
  opacity: 0.85;
}

.form-control:-ms-input-placeholder {
  opacity: 0.85;
}

.form-control::-ms-input-placeholder {
  opacity: 0.85;
}

.form-control:placeholder-shown {
  opacity: 0.85;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-face,
  .btn-google {
    width: 100%;
  }
}
